*.o
*.asm
*.d
*.sym
_*
*.img
kernel
user1
userfs
usertests
xv6.img
vectors.S
bochsout.txt
bootblock
bootother
bootother.out
parport.out
fmt
dist-test/
dist/
mkfs
entryother
initcode
initcode.out
.333rc
